.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logo {
  width: 100px;
}

.headerDescription {
  font-size: 24px;
  font-weight: bold;
  border: 2px solid rgb(202, 202, 202);
  padding: 10px;
}
